/__pycache__
/src/__pycache__
/src/pretalx_api_wrapper/__pycache__
/src/io_config/__pycache__
/src/room_system/__pycache__
/src/transcription_system/__pycache__

/db
/logs
/src/db/sessions/
/transcripts_db

poetry.toml
.python-version
.idea